body{
    margin-left: 1em;
    padding-top: 5px;


}


#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}


.navImg {
    margin-top: 5px;
    margin-left: 0;
    padding-left: 0;
    width: 175px;
    height: 175px;
}

.addCoffeeImg{
    width: 40%;
}

.lowerImg{
    margin-left: 7rem;
}

.coffee-place {
    width: 75%;
    margin-top: 1rem;
}

#roast-selection{
    width: 75%;

}
#filterInput{
    width: 75%;

}
#submit{
    width: 75%;
    background-color: rgb(120,163,74);
    border-radius: 2px;
}

#userInput{
    width:75%;

}
#roast-selection2{
    width: 75%;

}
#submit2{
    width: 75%;
    background-color: rgb(120,163,74);
    border-radius: 2px;
}
h6 {
    margin-left: 15px;
    margin-top: 0;
    color: rgb(120,163,74);
}
table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}


h2 {
    font-family: 'Lemonada', cursive;

}

p {
    font-family: 'Roboto', sans-serif;

}

